/* Base style and resets */

// General
html,
*,
*::after,
*::before {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
    color: var(--palette-color-white-100);
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--theme-body-background-color);
}

// Images
img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

// Tables
table {
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}

// Forms
button,
[type='button'],
[type='submit'],
[type='reset'] {
    cursor: pointer;
}

button,
input,
textarea {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

// Focus style
:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    border: none;
    outline: none;
    outline-offset: 0;
}

/* Helper classes */

.clearfix {
    display: flow-root;
}

// Hide elements from everyone
// The hidden attribute needs to have !important since it has too low specificity
.hidden,
[hidden] {
    display: none !important;
}

// Hide elements visually
.sr-only:not(:focus):not(:active) {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// Optimizely helper override
ul#epi-quickNavigator .epi-quickNavigator-editLink a span {
    display: none;
}
ul#epi-quickNavigator {
    top: 20%;
    right: 0;
}
