:root {
    --text-icon-light: var(--palette-color-white-100);
    --text-icon-dark: var(--palette-color-black-100);

    // PRIMARY
    --button-primary-background: var(--palette-color-white-100);
    --button-primary-text: var(--palette-color-black-100);
    --button-primary-hover-background: var(--palette-color-transparent-100);
    --button-primary-hover-text: var(--palette-color-white-100);
    --button-primary-disabled-background: var(--palette-color-black-60);
    --button-primary-alternative-background: var(--palette-color-black-100);
    --button-primary-alternative-text: var(--palette-color-white-100);
    --button-primary-alternative-hover-background: var(--palette-color-transparent-100);
    --button-primary-alternative-hover-text: var(--palette-color-black-100);
    --button-primary-alternative-disabled-background: var(--palette-color-black-40);
    --button-primary-alternative-disabled-text: var(--palette-color-white-100);

    // ACCENT
    --button-primary-accent-background: var(--palette-color-blue-100);
    --button-primary-accent-text: var(--palette-color-white-100);
    --button-primary-accent-hover-background: var(--palette-color-blue-80);
    --button-primary-accent-hover-text: var(--palette-color-blue-100);
    --button-primary-accent-disabled-background: var(--palette-color-black-40);
    --button-primary-accent-disabled-text: var(--palette-color-white-100);

    // SECONDARY
    --button-secondary-background: var(--palette-color-black-100);
    --button-secondary-text: var(--palette-color-white-100);
    --button-secondary-hover-background: var(--palette-color-white-100);
    --button-secondary-hover-text: var(--palette-color-black-100);
    --button-secondary-disabled-background: var(--palette-color-transparent-100);
    --button-secondary-disabled-text: var(--palette-color-black-60);

    // INVERTED, PRIMARY & SECONDARY
    --button-primary-inverted-background: var(--palette-color-black-100);
    --button-primary-inverted-text: var(--palette-color-white-100);
    --button-primary-inverted-hover-background: var(--palette-color-transparent-100);
    --button-primary-inverted-hover-text: var(--palette-color-black-100);
    --button-primary-inverted-disabled-background: var(--palette-color-black-40);
    --button-primary-inverted-disabled-text: var(--palette-color-white-100);
    --button-primary-secondary-inverted-background: var(--palette-color-white-100);
    --button-primary-secondary-inverted-text: var(--palette-color-black-100);
    --button-primary-secondary-hover-background: var(--palette-color-black-100);
    --button-primary-secondary-hover-text: var(--palette-color-white-100);
    --button-primary-secondary-disabled-background: var(--palette-color-transparent-100);
    --button-primary-secondary-disabled-text: var(--palette-color-black-40);
    --button-secondary-alternative-text: var(--palette-color-black-100);
    --button-secondary-alternative-hover-background: var(--palette-color-black-100);
    --button-secondary-alternative-hover-text: var(--palette-color-white-100);
    --button-secondary-alternative-disabled-text: var(--palette-color-black-40);

    // FILTER BUTTON (ikoner behöver fixas)
    --button-filter-background: var(--palette-color-transparent-1);
    --button-filter-text: var(--palette-color-white-100);
    --button-filter-hover-background: var(--palette-color-white-100);
    --button-filter-hover-text: var(--palette-color-black-100);
    --button-filter-selected-background: var(--palette-color-white-100);
    --button-filter-selected-text: var(--palette-color-black-100);
    --button-filter-active-background: var(--palette-color-black-100);
    --button-filter-active-text: var(--palette-color-white-100);
    --button-filter-disabled-background: var(--palette-color-transparent-100);
    --button-filter-disabled-text: var(--palette-color-black-60);
    --button-filter-text-icon: var(--text-icon-dark);

    // FILTER BUTTON INVERTED
    --button-filter-inverted-background: var(--palette-color-transparent-100);
    --button-filter-inverted-text: var(--palette-color-black-100);
    --button-filter-inverted-hover-background: var(--palette-color-black-100);
    --button-filter-inverted-hover-text: var(--palette-color-black-100);
    --button-filter-inverted-selected-background: var(--palette-color-black-100);
    --button-filter-inverted-selected-text: var(--palette-color-white-100);
    --button-filter-inverted-active-background: var(--palette-color-transparent-100);
    --button-filter-inverted-active-text: var(--palette-color-black-100);
    --button-filter-inverted-disabled-background: var(--palette-color-transparent-100);
    --button-filter-inverted-disabled-text: var(--palette-color-black-40);
    --button-filter-inverted-text-icon: var(--text-icon-light);

    // LINK BUTTON
    --button-link-background: var(--palette-color-black-100);
    --button-link-text: var(--palette-color-white-100);
    --button-link-hover-text: var(--palette-color-white-100);
    --button-link-active-text: var(--palette-color-white-100);
    --button-link-text-icon: var(--text-icon-light);

    // LINK BUTTON INVERTED (ikoner behöver fixas)
    --button-link-inverted-background: var(--palette-color-transparent-100);
    --button-link-inverted-text: var(--palette-color-black-100);
    --button-link-inverted-hover-text: var(--palette-color-white-100);
    --button-link-inverted-active-text: var(--palette-color-black-100);
    --button-link-inverted-text-icon: var(--text-icon-dark);

    // ROUND BUTTON (ikoner behöver fixas, ljusa knappar är inte implementerade)
    --button-round-background: var(--palette-color-black-transparent-80);
    --button-round-ellipse-: var(--text-icon-light);
    --button-round-ellipse-stroke: var(--text-icon-light);
    --button-round-hover-background: var(--palette-color-transparent-100);
    --button-round-active-background: var(--palette-color-black-100);
    --theme-focus-outline-width-round-button: var(--border-xs);
    --theme-focus-outline-round-button: var(--theme-focus-outline-width-round-button) solid;
    --theme-focus-outline-offset-round-button: var(--border-large);
}
