# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Fonts
Fonts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Env files
.env
.env.*

# Codegen
codegen.yaml