@use '@scss/general/layout-variables' as *;

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-text-base);
    padding-left: 0;
    margin-bottom: 0;

    @media (min-width: $md) {
        row-gap: var(--spacing-medium);
    }

    &__details {
        font-weight: var(--font-weight-bold);
        padding-top: 0.1rem;
    }

    &__term {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    &__details,
    &__label,
    a {
        font-weight: var(--font-weight-base);
    }

    &__label {
        color: var(--theme-footer-info-list-label-color);
    }

    &__tel {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
