@use '@scss/general/layout-variables' as *;
@use '@scss/mixins/layout-mixins' as *;
@use '@scss/mixins/heading-mixins' as *;
@use '@scss/mixins/list-mixins' as *;

.footer {
    @include section-spacing;

    & {
        background-color: var(--theme-footer-background-color);
        color: var(--theme-footer-text-color);
        overflow: hidden;
        padding: var(--spacing-medium) var(--spacing-xs) var(--spacing-xl) var(--spacing-xs);
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;

        & {
            justify-content: center;
            margin: 0 auto;
            position: relative;
            gap: var(--spacing-large);
            z-index: 1;

            @media (min-width: $xxl) {
                flex-direction: row;
                width: 100%;
                max-width: $xxl;
            }

            &--top {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xl);
                margin-bottom: var(--spacing-xl);

                @media (min-width: $xxl) {
                    flex-direction: row;
                    justify-content: flex-start;
                }
            }

            &--bottom {
                width: 100%;

                .footer__link-list {
                    display: flex;
                    flex-direction: column;
                    border-top: 2px solid var(--theme-footer-bottom-border-color);
                    padding-top: var(--spacing-large);
                    flex: 1;
                    justify-content: center;

                    @media (min-width: $xl) {
                        flex-direction: row;
                    }

                    a {
                        font-weight: var(--font-weight-base);
                        font-size: var(--font-size-xs);
                    }
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        @media (min-width: $lg) {
            flex-direction: row;
        }

        @media (min-width: $xxl) {
            &--right {
                gap: var(--spacing-xxl);
            }
        }
    }

    &__column {
        margin: 0 0 0 -1.5rem;
        width: 100%;

        @media (min-width: $xxl) {
            margin: 0 0 0 3rem;
            width: auto;
        }

        h2.heading {
            margin: 0;

            @media (min-width: $xxl) {
                max-width: 43rem;
            }
        }

        h3.heading {
            @include h4-styled-heading;

            & {
                margin-bottom: var(--spacing-small);

                @media (min-width: $md) {
                    margin-bottom: var(--spacing-medium);
                }

                @media (min-width: $xxl) {
                    margin-top: 0;
                }
            }
        }

        &--contact {
            @media (min-width: $xxl) {
                max-width: 250px;
            }
        }
    }

    &__link-list {
        @include clear-list;

        & {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-small);

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &--has-icons {
            gap: var(--spacing-small);

            @media (min-width: $md) {
                gap: var(--spacing-large);
            }
        }

        &--social-media {
            gap: var(--spacing-xs);

            li {
                margin-top: 0;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        .link::before {
            background-color: var(--theme-footer-icon-color);
        }
    }

    a {
        color: var(--theme-footer-link-text-color);

        &:hover {
            color: var(--theme-footer-link-hover-text-color);
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        padding: var(--spacing-large) var(--spacing-xs) 0;
        width: 100%;

        a {
            display: block;
        }

        img {
            max-width: 160px;
        }

        @media (min-width: $md) {
            padding-top: var(--spacing-xxl);

            img {
                max-width: 100%;
                max-height: 57px;
            }
        }
    }

    @media (min-width: $md) {
        padding-top: var(--spacing-xl);
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
    }
}

body.is-in-preview-mode .footer {
    padding-bottom: 25rem;
}
