@use '@scss/mixins/icon-mixins' as *;

.social-media__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media__icon {
    @include icon-plate(
        4rem,
        4rem,
        $background-color: var(--theme-social-media-icon-background-color),
        $is-circle: true
    );
    display: inline-block;
    padding-top: calc(4rem + 0.4rem);
    text-decoration: none;

    &::before {
        transition: var(--transition-base);
    }
}
