@use '@scss/general/layout-variables' as *;
@use '@scss/mixins/icon-mixins' as *;

.block-card {
    $self: &;

    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--theme-block-card-background-color);
    border-radius: var(--border-radius-small);

    &__content {
        padding: var(--spacing-medium);

        & > * {
            word-break: break-word;
            width: 100%;
        }
    }

    &__heading {
        margin-top: 0;
    }

    &__date,
    &__small-label {
        font-size: var(--font-size-xs);
        margin-bottom: 0;
    }

    &__small-label {
        font-style: italic;

        & + .link:focus-visible {
            margin-top: 0.334em;
        }
    }

    &__icon {
        &:before {
            @include icon(6.7rem, $color: var(--theme-block-card-icon-color));
        }
    }

    &__icon--document {
        width: 6.7rem;
        height: 6.7rem;

        &:before {
            @include icon-image(url('@images/icons/icon-newspaper.svg'));
        }
    }

    &--large {
        @media (min-width: $xl) {
            padding: var(--spacing-xl) var(--spacing-large);
        }
    }

    &--has-media {
        flex-direction: column;

        .block-card__media {
            height: 70%;
            object-fit: cover;
            border-top-left-radius: var(--border-radius-small);
            border-top-right-radius: var(--border-radius-small);

            @media (min-width: $lg) {
                height: 100%;
            }
        }
    }

    &--has-cta {
        align-items: flex-start;

        #{$self}__content {
            height: 100%;
        }

        #{$self}__cta-container {
            margin-top: auto;
        }
    }

    &--has-icon {
        flex-direction: row;
        align-items: center;

        .block-card__icon {
            margin-left: var(--spacing-xs);
        }
    }
}

@media (min-width: $lg) {
    .section__item--full .block-card,
    .section__item--twothirds .block-card {
        &--has-media {
            flex-direction: row;
            align-items: stretch;

            .block-card__media {
                width: 50%;
                object-fit: cover;
                border-top-left-radius: var(--border-radius-small);
                border-bottom-left-radius: var(--border-radius-small);
                border-top-right-radius: 0;
            }
        }
    }
}
