@use "@scss/mixins/icon-mixins" as *;
@use "@scss/mixins/general-mixins" as *;
@use "@scssRoot/color-theme-default" as *;
@use "@scss/general/variables" as *;
@use "@scss/general/typography" as *;

.button {
  --button-padding-top-bottom: 1.2rem;
  --button-padding-left-right: 2.4rem;
  --link-icon-left-position: 0.4rem;

  // Primary button -------------------------------------
  display: inline-flex;
  align-items: center;
  border: none;
  padding: var(--button-padding-top-bottom) var(--button-padding-left-right);
  transition: var(--transition-base);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);

  &::before {
    transition: var(--transition-base);
  }

  span + span {
    margin-left: var(--spacing-xxs);
  }

  &__icon {
    &::before {
      transition: var(--transition-base);
    }
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
  }

  // Modifier classes -------------------------------------
  &--download {
    position: relative;
    padding-left: calc(
      var(--spacing-small) + var(--spacing-xs) + $icon-size-small
    );

    &::before {
      left: var(--spacing-small);
      @include icon(
        $icon-size-small,
        $color: var(--button-primary-text-color),
        $image: url("@images/icons/icon-chevron-down.svg")
      );
      top: calc(50% - $icon-size-small / 2);
    }

    &:focus-visible,
    &:hover {
      &::before {
        top: calc(50% - $icon-size-small / 2 + var(--link-icon-left-position));
      }
    }
  }

  &--arrow-icon {
    position: relative;
    padding-right: calc(
      var(--spacing-small) + var(--spacing-xs) + $icon-size-small
    );

    &::before {
      @include icon(
        $icon-size-small,
        $color: var(--button-primary-text-color),
        $image: url("@images/icons/icon-arrow-right.svg")
      );
      right: var(--spacing-small);
      top: calc(50% - $icon-size-small / 2);
    }

    &:focus-visible,
    &:hover {
      &::before {
        right: calc(var(--spacing-small) - var(--link-icon-left-position));
      }
    }
  }

  // Filter button
  &--filter {
    box-shadow: none;
    background-color: var(--button-filter-background-color);
    color: var(--button-filter-text-color);
    border: var(--border-small) solid var(--button-filter-border-color);

    &:hover {
      background-color: var(--button-filter-hover-background-color);
      border-color: var(--button-filter-hover-border-color);
      color: var(--button-filter-hover-text-color);
    }

    &.button--active {
      position: relative;
      background-color: var(--button-filter-active-background-color);
      border-color: var(--button-filter-active-border-color);
      color: var(--button-filter-active-text-color);
      padding-right: calc(
        var(--spacing-small) + var(--spacing-xs) + $icon-size-small
      );

      &:after {
        @include icon(
          $icon-size-small,
          $color: var(--button-filter-active-text-color),
          $image: url("@images/icons/icon-checkmark.svg")
        );
        right: var(--spacing-small);
        top: calc(50% - $icon-size-small / 2);
      }
    }

    &:focus-visible {
      @include focus-frame(var(--button-filter-focus-border-color));
      background-color: var(--button-filter-focus-background-color);
      color: var(--button-filter-focus-color);
      border: var(--border-small) solid var(--button-filter-focus-border-color);

      &::before {
        background-color: var(--button-filter-focus-color);
      }
    }
  }
}

.form-button-group {
  margin-top: var(--spacing-medium);
  display: flex;
  justify-content: flex-end;
}

@each $section-color in $section-colors {
  .section--bg-#{$section-color} {
    .button {
      background-color: getSectionColor(
        primary-button-background,
        $section-color
      );
      color: getSectionColor(primary-button-text, $section-color);
      border: var(--border-small)
        solid
        getSectionColor(primary-button-background, $section-color);

      &__icon {
        &::before {
          @include icon-color(
            getSectionColor(primary-button-icon, $section-color)
          );
        }
      }
      // Hover state
      &:hover {
        background-color: getSectionColor(
          primary-button-hover-background,
          $section-color
        );
        color: getSectionColor(primary-button-hover-text, $section-color);
        border-color: getSectionColor(
          primary-button-hover-border,
          $section-color
        );

        &::before {
          background-color: getSectionColor(
            primary-button-icon-hover,
            $section-color
          );
        }
      }
      // Active state
      &:active,
      &:focus-visible:active {
        background-color: getSectionColor(
          primary-button-active-background,
          $section-color
        );
        color: getSectionColor(primary-button-active-text, $section-color);
        outline-color: getSectionColor(
          primary-button-active-border,
          $section-color
        );
      }
      // Focus state
      &:focus-visible {
        @include focus-frame(
          getSectionColor(primary-button-active-border, $section-color)
        );
        background-color: getSectionColor(
          primary-button-active-background,
          $section-color
        );
        color: getSectionColor(primary-button-active-text, $section-color);
      }
      // Disabled state
      &--disabled,
      &:disabled {
        background-color: getSectionColor(
          primary-button-disabled-background,
          $section-color
        );
        color: getSectionColor(primary-button-disabled-text, $section-color);

        &:hover {
          background-color: getSectionColor(
            primary-button-disabled-background,
            $section-color
          );
          color: getSectionColor(primary-button-disabled-text, $section-color);
        }

        &:active,
        &:focus-visible:active,
        &:focus-visible {
          background-color: getSectionColor(
            primary-button-disabled-background,
            $section-color
          );
          outline-color: getSectionColor(
            primary-button-disabled-border,
            $section-color
          );
        }
      }

      &--download {
        &::before {
          @include icon(
            $icon-size-small,
            getSectionColor(primary-button-text, $section-color),
            $image: url("@images/icons/icon-chevron-down.svg")
          );
        }
      }

      &--arrow-icon {
        &::before {
          @include icon(
            $icon-size-small,
            getSectionColor(primary-button-text, $section-color),
            $image: url("@images/icons/icon-arrow-right.svg")
          );
        }
      }

      &--secondary {
        background-color: getSectionColor(
          secondary-button-background,
          $section-color
        );
        color: getSectionColor(secondary-button-text, $section-color);
        border: var(--border-small)
          solid
          getSectionColor(secondary-button-text, $section-color);

        .button__icon {
          &::before {
            @include icon-color(
              getSectionColor(secondary-button-text, $section-color)
            );
          }
        }

        &::before {
          background-color: getSectionColor(
            secondary-button-icon,
            $section-color
          );
        }
        // Hover state
        &:hover {
          background-color: getSectionColor(
            secondary-button-hover-background,
            $section-color
          );
          color: getSectionColor(secondary-button-hover-text, $section-color);
          border-color: getSectionColor(
            secondary-button-hover-border,
            $section-color
          );

          &::before {
            background-color: getSectionColor(
              secondary-button-icon-hover,
              $section-color
            );
          }
        }
        // Active state
        &:active,
        &:focus-visible:active {
          background-color: getSectionColor(
            secondary-button-active-background,
            $section-color
          );
          color: getSectionColor(secondary-button-active-text, $section-color);
        }
        // Focus state
        &:focus-visible {
          @include focus-frame(
            getSectionColor(secondary-button-active-border, $section-color)
          );
          background-color: getSectionColor(
            secondary-button-active-background,
            $section-color
          );
          color: getSectionColor(secondary-button-active-text, $section-color);

          &::before {
            background-color: getSectionColor(
              secondary-button-active-text,
              $section-color
            );
          }
        }
        // Disabled state
        &.button--disabled,
        &:disabled {
          background-color: getSectionColor(
            secondary-button-disabled-background,
            $section-color
          );
          color: getSectionColor(
            secondary-button-disabled-text,
            $section-color
          );
          border-color: getSectionColor(
            secondary-button-disabled-border,
            $section-color
          );

          &:hover,
          &:active,
          &:focus-visible:active,
          &:focus-visible {
            background-color: getSectionColor(
              secondary-button-disabled-background,
              $section-color
            );
            outline-color: getSectionColor(
              secondary-button-disabled-border,
              $section-color
            );
          }
        }
      }
    }
  }
}
