@use '@scss/mixins/list-mixins' as *;

.filter {
    @include horizontal-list;

    & {
        width: 100%;
        justify-content: flex-start;
        gap: var(--spacing-xs);
        margin-bottom: var(--spacing-xl);
    }
}
