@use '@scss/general/layout-variables' as *;
@use '@scss/mixins/layout-mixins.scss' as *;

.image-and-text-block {
    $self: &;

    padding: var(--spacing-xs) 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;

        @media (min-width: $sm) {
            justify-content: space-between;
        }
    }

    &__column {
        $column: &;

        @include section__item;

        @media (min-width: $md) {
            &--half#{$column}--right {
                order: 2;
            }
        }

        @media (min-width: $lg) {
            &--twothirds#{$column}--right,
            &--third#{$column}--right {
                order: 2;
            }
        }
    }

    &__image-block {
        margin-bottom: var(--spacing-medium);

        @media (min-width: $md) {
            &#{$self}__column--half {
                margin-bottom: 0;
            }
        }

        @media (min-width: $lg) {
            &#{$self}__column--twothirds,
            &#{$self}__column--third {
                margin-bottom: 0;
            }
        }
    }
}
