@use '../mixins/form-element-mixins' as *;
@use '../mixins/icon-mixins' as *;

.input-text {
    @include form-group;

    &__input,
    &__textarea {
        @include input-text;

        &:focus-visible {
            box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
        }

        &:disabled {
            border-color: var(--grey-disabled);
        }

        &::placeholder {
            color: var(--dark-grey);
        }

        &--with-icon {
            @include input-text-icon;

            &:enabled:hover,
            &:focus-visible {
                padding-right: 4.2rem;
            }
        }
    }

    &__textarea {
        min-height: 9.7rem;
        padding-top: 0.8rem;
        padding-bottom: 0.5rem;

        &:enabled:hover,
        &:focus-visible {
            padding-top: 0.7rem;
            padding-bottom: 0.4rem;
        }
    }

    &--valid {
        .input-text__input {
            border-color: var(--theme-input-text-valid-border-color);
            background-image: url('@images/icons/icon-checkmark.svg');
        }
    }

    &--invalid {
        .input-text__input {
            border-color: var(--theme-input-text-invalid-border-color);
            background-image: url('@images/icons/icon-warning.svg');
        }

        .validation-message {
            display: block;
            margin-bottom: 0.3rem;
            @include validation-message;
        }
    }

    &--search {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-small);
        position: relative;

        &::before {
            @include icon(
                $icon-size-small,
                $color: var(--theme-input-text-input-placeholder-color),
                $image: url('@images/icons/icon-search.svg')
            );
            left: var(--spacing-small);
            top: 50%;
            margin-top: calc(($icon-size-small/2) * -1);
            transform: scaleX(-1);
        }

        .input-text__input {
            flex: 1;
            padding-left: calc(1.4rem + $icon-size-small + var(--spacing-xs));

            &:enabled:hover,
            &:focus-visible {
                padding-left: calc(1.3rem + $icon-size-small + var(--spacing-xs));
            }
        }

        .button {
            box-shadow: none;
        }
    }
}
