@use '@scss/mixins/form-element-mixins' as *;

.input-range {
    @include form-group;

    &__slider {
        width: 100%;
        height: var(--border-small);
        background-color: var(--input-range-slider-background-color);
    }
}
