@use '@scss/mixins/icon-mixins' as *;

.form-label {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing-xs) / 2);

    &__icon {
        display: inline-block;
        margin-left: var(--spacing-xs);
        width: $icon-size-medium;
        height: $icon-size-medium;

        &--info {
            background: transparent url('@images/icons/icon-newspaper.svg') no-repeat;
            background-size: $icon-size-medium;
        }
    }

    &--disabled {
        color: var(--grey-disabled);
    }
}
