@use "@scss/mixins/icon-mixins" as *;

ol,
ul {
  margin-bottom: var(--margin-text-base);
  padding-left: 2em;

  li {
    margin-top: var(--margin-list-item);

    &:first-child {
      margin-top: 0;
    }
  }

  ol,
  ul {
    margin-bottom: 0;

    li:first-child {
      margin-top: var(--margin-list-item);
    }
  }
}

.info-list {
  $self: &;

  &__term {
    font-weight: var(--font-weight-bold);
    padding-top: 0.1rem;
  }

  &__details {
    word-break: break-word;
    padding-top: 0.22rem;

    &--link {
      padding-top: 0.1rem;
    }
  }

  &--has-icons {
    #{$self}__term {
      @include icon($icon-size-medium);
      padding-left: calc($icon-size-medium + var(--spacing-xs));

      &::before {
        top: 0.4rem;
      }
    }
  }

  &--small {
    font-size: var(--font-size-small);
    gap: 0.625em;

    &.info-list--has-icons {
      #{$self}__term::before {
        top: 0.2rem;
      }
    }

    &.info-list--has-icons.info-list--has-small-icons {
      #{$self}__term::before {
        top: 0.4rem;
      }
    }
  }

  &--hidden-label {
    &.info-list--has-icons {
      #{$self}__term {
        padding-left: $icon-size-medium;
      }
    }

    &.info-list--has-icons.info-list--has-small-icons {
      #{$self}__term {
        padding-left: $icon-size-small;
      }
    }
  }

  &--has-small-icons {
    .icon {

      @include icon($icon-size-small);
      @include icon-plate($icon-size-small, $icon-size-small);
      padding-left: calc($icon-size-small + var(--spacing-xs));

      &::before {
        top: 0.6rem;
      }
    }
  }

  &--tight {
    row-gap: var(--margin-list-item);
  }
}