@use "@scss/general/layout-variables" as *;
@use "@scss/mixins/layout-mixins" as *;
@use "@scssRoot/color-theme-default" as *;

@mixin collapse-section {
  padding-top: 0;

  @media (min-width: $md) {
    margin-top: calc(var(--spacing-large) / 2 * -1);
  }

  @media (min-width: $xl) {
    margin-top: calc(var(--spacing-medium) * -1);
  }
}

.section {
  position: relative;
  @include section-spacing;

  &--no-padding {
    padding: 0;

    .section__container {
      padding: 0;
    }
  }

  &__container {
    @include container;

    & {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      row-gap: var(--spacing-small);
      column-gap: var(--spacing-xs);
      width: 100%;
      position: relative;
      z-index: 2;

      @media (min-width: $md) {
        row-gap: var(--spacing-medium);
      }
    }

    .section__item {
      @include section__item;
    }

    .section__heading {
      grid-column: span 12;
    }

    .section__heading .heading {
      margin-bottom: 0;
    }
  }

  &--halves-xxxl {
    .section__item {
      width: 100%;
      grid-column: span 12;
      @media (min-width: $xxxl) {
        grid-column: span 6;
      }
    }
  }

  @include background-color;

  @each $section-color in $section-colors {
    &--bg-#{$section-color} {
      color: getSectionColor(text, $section-color);
    }

    &--bg-#{$section-color} + &--bg-#{$section-color} {
      @include collapse-section;
    }
  }

  &__heading {
    display: block;
    width: 100%;

    .heading {
      display: inline-block;
    }
  }
}
