@use "@scss/mixins/form-element-mixins" as *;
@use "@scss/mixins/icon-mixins" as *;

.dropdown {
  @include form-group;

  &__select {
    @include input-text;

    & {
      @include input-text-icon;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("@images/icons/icon-chevron-down.svg");
      background-size: $icon-size-small $icon-size-small;
      cursor: pointer;
    }
  }
}