@use '@scss/general/layout-variables' as *;

table {
    border: var(--border-xs) solid var(--theme-border-color-black);
    font-size: var(--font-size-xs);
    margin: calc(var(--spacing-medium) - var(--spacing-xs)) 0;
    width: 100%;

    td,
    th {
        border: var(--border-xs) solid var(--theme-border-color);
        padding: calc(var(--spacing-xs) / 2);
        vertical-align: top;
    }

    th,
    thead td {
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-small);
    }

    @media (min-width: $lg) {
        font-size: var(--font-size-small);
        margin: var(--spacing-medium) 0;

        td,
        th {
            padding: var(--spacing-xs);
        }
    }
}
