@use '@scss/mixins/list-mixins' as *;
@use '@scssMain/color-theme-default' as *;

.tag-container {
    @include horizontal-list(flex-start);

    & {
        gap: var(--spacing-xs);
        row-gap: var(--spacing-xxs);
    }
}

.tag {
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border-radius: 5px 0;
    line-height: var(--line-height-small);
    font-size: clamp(var(--font-size-xxxs), 1.8vw, var(--font-size-xxs));
    font-weight: var(--font-weight-bold);
    background-color: var(--theme-tag-background-color);
    color: var(--theme-tag-text-color);
}

@each $section-color in $section-colors {
    .section--bg-#{$section-color} {
        .tag {
            background-color: getSectionColor(tag-background-color, $section-color);
            color: getSectionColor(tag-text-color, $section-color);
        }
    }
}
