/* Variables */
:root {
  // Font weight
  --font-weight-base: 400;
  --font-weight-serif: 400;
  --font-weight-bold: 600;
  --font-weight-extrabold: 800;

  // Font family
  --font-family-base: BagossStandard-Regular, sans-serif;
  --font-family-extrabold: BagossStandard-Regular, sans-serif;
  --font-family-semibold: BagossStandard-Regular, sans-serif;
  --font-family-serif: BagossStandard-Regular, serif;

  // Font size
  --font-size-xxxs: 1.2rem; // 12px
  --font-size-xxs: 1.4rem; // 14px
  --font-size-xs: 1.6rem; // 16px
  --font-size-small: 1.8rem; // 18px
  --font-size-base: 2.1rem; // 21px
  --font-size-medium: 2.2rem; // 22px
  --font-size-large: 2.6rem; // 26px
  --font-size-xl: 4rem; // 40px
  --font-size-xxl: 6rem; // 60px
  --font-size-nav: 2.2rem; // 22px
  --font-size-preamble: clamp(1.9rem, 1.8vw, 2.1rem); // 19px-21px
  --font-size-caption: clamp(1.2rem, 1.2vw, 1.4rem); // 12px-14px
  --font-size-quote: clamp(1.8rem, 3vw, 2.2rem); // 18px-22px
  --font-size-side-menu-heading: 2rem; // 20px
  --font-size-side-menu-item: 1.6rem; // 16px

  // Line height
  --line-height-reset: 1;
  --line-height-small: 1.2;
  --line-height-base: 1.4;
  --line-height-nav: 2.6rem;

  // General spacing
  --margin-text-base: var(--spacing-xxs);
  --margin-list-item: var(--spacing-xxs);

  // Headings
  --font-family-h1: var(--font-family-extrabold);
  --font-size-h1: clamp(5rem, 5vw, 6rem);
  --line-height-h1: var(--line-height-small);
  --font-weight-h1: var(--font-weight-extrabold);
  --margin-top-h1: var(--spacing-small);
  --margin-bottom-h1: var(--spacing-xs);

  --font-family-h2: var(--font-family-semibold);
  --font-size-h2: clamp(2.6rem, 3.2vw, 4rem);
  --line-height-h2: var(--line-height-small);
  --font-weight-h2: var(--font-weight-bold);
  --margin-top-h2: var(--spacing-xs);
  --margin-bottom-h2: var(--spacing-xxs);

  --font-family-h3: var(--font-family-semibold);
  --font-size-h3: clamp(2.2rem, 2.2vw, 2.6rem);
  --line-height-h3: var(--line-height-small);
  --font-weight-h3: var(--font-weight-bold);
  --margin-top-h3: var(--spacing-xs);
  --margin-bottom-h3: var(--spacing-xxs);

  --font-family-h4: var(--font-family-semibold);
  --font-size-h4: clamp(2rem, 1.8vw, 2.2rem);
  --line-height-h4: var(--line-height-base);
  --font-weight-h4: var(--font-weight-bold);
  --margin-top-h4: var(--spacing-xs);
  --margin-bottom-h4: var(--spacing-xxs);
}

// Font face declarations

// Extra bold body font-face
@font-face {
  font-family: "BagossStandard-Regular";
  src:
    url("../fonts/BagossStandard-Regular.woff2") format("truetype"),
    url("../fonts/BagossStandard-Regular.woff2") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Semi Bold body font-face
@font-face {
  font-family: "BagossStandard-Regular";
  src:
    url("../fonts/BagossStandard-Regular.woff2") format("opentype"),
    url("../fonts/BagossStandard-Regular.woff2") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Regular font-face
@font-face {
  font-family: "BagossStandard-Regular";
  src:
    url("../fonts/BagossStandard-Regular.woff2") format("opentype"),
    url("../fonts/BagossStandard-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-base);
  color: var(--theme-body-text-color);
}

button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
}

strong {
  font-weight: var(--font-weight-bold);
}
