/**
Not sure if format nor font-x is correct, placeholder.
*/
@font-face {
    font-family: 'BagossStandard';
    src:
        url('/Fonts/BagossStandard-Regular.woff2') format('woff2'),
        url('/Fonts/BagossStandard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
