:root {
    /** General spacing */
    --spacing-xxxs: 0.4rem;
    --spacing-xxs: 0.8rem;
    --spacing-xs: 1.6rem;
    --spacing-small: 2.4rem;
    --spacing-medium: 3.2rem;
    --spacing-large: 4rem;
    --spacing-xl: 4.8rem;
    --spacing-xxl: 7.2rem;
    --spacing-xxxl: 12rem;
    
    /** Sections */
    --section-spacing-top-bottom: 5.6rem;
    --section-spacing-top-large: 7.2rem;
    --section-spacing-bottom-large: 7.2rem;
    --section-spacing-mobile-spacing-top-bottom: 4.8rem;
    --section-spacing-mobile-spacing-top-large: 4rem;
    --section-spacing-mobile-spacing-bottom-large: 7.2rem;
    --section-gap-tight: 2.4rem;
    --section-gap-normal: 4.8rem;
    --section-mobile-gap: 1.6rem;


    /** Site page partials */
    --site-page-partial-spacing-top: 2.4rem;
    --site-page-partial-spacing-bottom: 3.2rem;
    --site-page-partial-spacing-left-right: 2.4rem;
    --site-page-partial-mobile-spacing-top: 1.6rem;
    --site-page-partial-mobile-spacing-bottom: 2.4rem;
    --site-page-partial-mobile-spacing-left-right: 1.6rem;
    --site-page-partial-gap: 1.6rem;
    --site-page-partial-border-radius: 0.4rem;
    
    /** Buttons */
    --button-spacing-top-bottom: 1.2rem;
    --button-spacing-left-right: 2.4rem;
    --button-small-spacing-top-bottom: 0.8rem;
    --button-small-spacing-left-right: 1.6rem;
    --button-small-border-radius: 3.2rem;

    /* Borders */
    --border-radius-small: 0.4rem;
    --border-radius-medium: 3.2rem;
    --border-width: 0.1rem;
}
