:root {
    /** General spacing */
    --spacing-xxxs: 0.4rem;
    --spacing-xxs: 0.8rem;
    --spacing-xs: 1.6rem;
    --spacing-small: 2.4rem;
    --spacing-medium: 3.2rem;
    --spacing-large: 4rem;
    --spacing-xl: 4.8rem;
    --spacing-xxl: 7.2rem;
    --spacing-xxxl: 12rem;

    /** Buttons */
    --spacing-top-bottom: 16px;
    --spacing-left-right: 32px;
    --border-radius: 32px;
    --small-spacing-top-bottom: 8px;
    --small-spacing-left-right: 16px;
    --small-border-radius: 32px;

    /** Sections */
    --spacing-top-bottom: 56px;
    --spacing-top-large: 72px;
    --spacing-bottom-large: 120px;
    --spacing-mobile-top-bottom: 48px;
    --spacing-mobile-top-large: 40px;
    --spacing-mobile-bottom-large: 72px;
    --gap-tight: 24px;
    --gap-normal: 48px;
    --gap-large: 56px;
    --gap-mobile-tight: 16px;
    --gap-mobile-normal: 32px;
    --gap-mobile-large: 48px;

    /** Site page partials */
    --spacing-top: 2.4rem;
    --spacing-bottom: 3.2rem;
    --spacing-left-right: 0rem;
    --mobile-spacing-top: 1.6rem;
    --mobile-spacing-left-right: 0rem;
    --border-radius: 3.2rem;
}
