@use "sass:map";

:root {
  /* --- General mixin focus frame -------------------------------- */
  --theme-focus-frame-outline-color: var(--palette-color-black-100);
  --theme-focus-frame-outline-color-inverted: var(--palette-color-white-100);

  /* --- Icon mixin -------------------------------- */
  --theme-mixin-icon-color: var(--palette-color-blue-80);

  /* --- Body -------------------------------- */
  --theme-body-text-color: var(--palette-color-black-100);
  --theme-body-text-color-inverted: var(--palette-color-white-100);
  --theme-body-background-color: var(--palette-color-white-100);

  /* --- Disturbance --------------------------------- */
  --theme-header-disturbance-background-color: var(
    --theme-body-background-color
  );
  --theme-header-disturbance-disturbance-text-color: var(
    --theme-body-text-color
  );
  --theme-header-disturbance-disturbance-icon-color: var(
    --theme-body-text-color
  );
  --theme-header-disturbance-disturbance-close-button-color: var(
    --theme-body-text-color
  );

  /* --- Header -------------------------------- */
  --theme-header-background-color: var(--palette-color-black-100);
  --theme-header-text-color: var(--palette-color-white-100);
  --theme-header-skip-link-focus-visible-outline-color: transparent;

  --theme-header-container-skip-link-background-color: var(
    --palette-color-pink-100
  );
  --theme-header-container-skip-link-border-color: var(
    --palette-color-black-100
  );
  --theme-header-container-skip-link-color: var(--palette-color-black-100);
  --theme-header-container-skip-link-hover-color: var(
    --palette-color-black-100
  );

  /* --- Footer -------------------------------- */
  --theme-footer-background-color: var(--palette-color-black-100);
  --theme-footer-text-color: var(--palette-color-white-100);
  --theme-footer-link-text-color: var(--palette-color-white-100);
  --theme-footer-link-hover-text-color: var(--palette-color-pink-100);
  --theme-footer-icon-color: var(--palette-color-white-100);
  --theme-footer-info-list-label-color: var(--palette-color-blue-80);
  --theme-footer-bottom-border-color: var(--palette-color-blue-80);

  /* --- Navigation -------------------------------- */
  /* Menu */
  --theme-menu-item-hover-color: var(--palette-color-pink-100);
  --theme-menu-item-open-selected-color: var(--palette-color-green-100);
  --theme-menu-item-after-background-color: var(--palette-color-black-100);

  /* Submenu */
  --theme-submenu-desktop-background-color: var(--palette-color-blue-40);
  --theme-submenu-mobile-heading-hover-color: var(--palette-color-pink-100);
  --theme-submenu-mobile-current-heading-color: var(--palette-color-white-100);
  --theme-submenu-mobile-current-heading-border-color: var(
    --palette-color-white-100
  );
  --theme-submenu-toggle-button-color: var(--palette-color-white-100);
  --theme-submenu-container-list-heading-border-bottom-color: var(
    --palette-color-black-100
  );
  --theme-submenu-menu-item-background-color: var(--palette-color-blue-80);

  --theme-submenu-plus-icon-color-light: var(--palette-color-white-100);
  --theme-submenu-link-text-color-light: var(--palette-color-white-100);
  --theme-submenu-plus-icon-color-dark: var(--palette-color-black-100);
  --theme-submenu-link-text-color-dark: var(--palette-color-black-100);

  /* Side menu */
  --theme-side-menu-item-root-border-bottom-color: var(
    --palette-color-black-100
  );
  --theme-side-menu-background-color: var(--palette-color-black-100);
  --theme-side-menu-separator-color: var(--palette-color-blue-80);
  --theme-side-menu-expanded-color: var(--palette-color-black-100);

  /* Toolbox */
  --theme-toolbox-color: var(--palette-color-white-100);
  --theme-toolbox-hover-color: var(--palette-color-pink-100);

  /* --- html ---------------------------------------------------------------- */

  /* --- Checkbox --------------------------------- */
  --theme-checkbox-input-hover-background-color: var(--palette-color-white-100);
  --theme-checkbox-input-disabled-hover-background-color: var(
    --palette-color-blue-80
  );
  --theme-checkbox-input-checked: var(--palette-color-blue-100);

  /* --- Input --------------------------------- */
  --theme-input-text-input-disabled-borer-color: var(--palette-color-blue-80);
  --theme-input-text-input-placeholder-color: var(--palette-color-black-100);
  --theme-input-text-valid-border-color: var(--palette-color-green-100);
  --theme-input-text-invalid-border-color: var(--palette-color-pink-100);
  --theme-input-search-before-color: var(--palette-color-black-100);
  --input-range-slider-background-color: var(--palette-color-blue-40);

  /* --- Link -------------------------------- */
  --theme-link-primary-color: var(--palette-color-blue-100);
  --theme-link-primary-icon-color: var(--palette-color-blue-100);
  --theme-link-disabled-text-color: var(--palette-color-black-100);

  /* --- Radio button --------------------------------- */
  --theme-radio-group-radio-button-input-checked-background-color: var(
    --palette-color-blue-100
  );
  --theme-radio-group-radio-button-input-checked-border-color: var(
    --palette-color-blue-80
  );

  /* --- Social media link --------------------------------- */
  --theme-social-media-icon-background-color: var(--palette-color-blue-80);

  /* --- Table --------------------------------- */
  --theme-border-color: var(--palette-color-black-100);

  /* --- Tag --------------------------------- */
  --theme-tag-background-color: var(--palette-color-blue-100);
  --theme-tag-text-color: var(--palette-color-green-100);

  /* --- Buttons --------------------------------- */
  /* .button--filter */
  --button-filter-background-color: transparent;
  --button-filter-text-color: var(--palette-color-black-100);
  --button-filter-border-color: var(--palette-color-black-100);
  --button-filter-focus-border-color: var(--palette-color-black-100);
  --button-filter-focus-color: var(--palette-color-black-100);
  --button-filter-focus-background-color: transparent;
  --button-filter-hover-background-color: var(--palette-color-pink-100);
  --button-filter-hover-text-color: var(--palette-color-black-100);
  --button-filter-hover-border-color: transparent;
  --button-filter-active-background-color: var(--palette-color-blue-80);
  --button-filter-active-border-color: transparent;
  --button-filter-active-text-color: var(--palette-color-black-100);

  /* search-button */
  --button-search-background: var(--palette-color-blue-80);
  --button-search-text-color: var(--palette-color-black-100);

  /* --- COMPONENTS ------------------------------------------------------------------ */

  /* --- Block card --------------------------------- */
  /* Contact block, sitemediadata, event information */
  --theme-block-card-background-color: var(--palette-color-blue-100);
  --theme-block-card-icon-color: var(--palette-color-pink-100);
  --theme-contact-block-text-color: var(--palette-color-green-100);
  --theme-contact-block-link-text-color: var(--palette-color-green-100);
  --theme-carousel-modal-splide-pagination-border-color: var(
    --palette-color-black-100
  );
  --theme-carousel-modal-splide-pagination-background-color: var(
    --palette-color-blue-100
  );
  --theme-carousel-modal-close-button-icon-color: var(
    --palette-color-black-100
  );

  /* --- Contact info block --------------------- */
  --theme-contact-info-block-background-color: var(--palette-color-black-100);
  --theme-contact-info-block-border-color: var(--palette-color-white-100);
  --theme-contact-info-block-text-color: var(--palette-color-white-100);
  --theme-contact-info-icon-plate-color: var(--palette-color-black-60);

  /* --- Carousel block --------------------- */
  --theme-carousel-block-splide-li-pagination-border-color: var(
    --palette-color-black-100
  );
  --theme-carousel-block-splide-li-pagination-active-color: var(
    --palette-color-blue-100
  );
  --theme-carousel-block-splide-arrow-background-color: var(
    --palette-color-black-100
  );
  --theme-carousel-block-splide-arrow-caption-background-color: var(
    --palette-color-white-100
  );

  /* --- Image block --------------------- */
  --theme-image-block-is-in-preview-background-color: var(
    --palette-color-blue-80
  );

  /* --- Pictogram block --------------------- */
  --theme-pictogram-background-color: var(--palette-color-white-100);
  --theme-pictogram-text-color: var(--palette-color-black-100);

  /* --- Site media data ------------------- */
  --theme-section-media-block-card-color: var(--palette-color-blue-40);

  /* --- Site page partial ------------------- */
  /* Only used when no background is set */
  --theme-site-page-partial-background-color: var(--palette-color-black-100);
  --theme-site-page-partial-text-color: var(--palette-color-white-100);
  --theme-site-page-partial-no-image-container-background-color: var(
    --palette-color-white-100
  );
  --theme-site-page-partial-no-image-icon-background-color: var(
    --palette-color-black-40
  );

  /* Tag on partial */
  --theme-site-page-partial-type-background-color: var(--palette-color-blue-80);
  --theme-site-page-partial-type-text-color: var(--palette-color-blue-100);

  /* --- Text block ------------------- */
  --theme-text-block-wrapper-background-color: var(--palette-color-blue-80);
  --theme-text-block-wrapper-color: var(--palette-color-black-100);

  /* --- Video block ------------------- */
  --video-block-icon-border-color: var(--palette-color-white-100);
  --video-block-icon-hover-border-color: transparent;
  --video-block-icon-background-color: var(--palette-color-black-80);

  /* --- Forms --------------------------------- */
  /* Mixins*/
  --theme-forms-validation-message-error-color: var(--palette-color-pink-100);
  --theme-forms-input-text-background-color: var(--palette-color-blue-80);
  --theme-forms-input-text-border-color: var(--palette-color-blue-100);
  --theme-forms-checkelement-input-background-color: var(
    --palette-color-blue-80
  );
  --theme-forms-checkelement-input-box-shadow-color: var(
    --palette-color-blue-100
  );
  --theme-forms-checkelement-input-focus-visible-outline-color: var(
    --palette-color-black-100
  );
  --theme-forms-checkelement-input-disabled-box-shadow-color: var(
    --palette-color-blue-100
  );
  --theme-forms-checkelement-input-disabled-labe-color: var(
    --palette-color-black-40
  );

  /* Optimizely */
  --theme-episerverforms-form-element-validation-error-color: var(
    --palette-color-pink-100
  );
  --theme-episerverforms-formrange-wrapper-border-color: var(
    --palette-color-blue-40
  );
  --theme-episerverforms-formrange-input-background-color: var(
    --theme-light-blue
  );
  --theme-episerverforms-formrange-input-focus-background-color: var(
    --theme-light-blue
  );
  --theme-episerverforms-formstatus-message-color: var(--palette-color-blue-80);
  --theme-episerverforms-form-success-message-background-color: var(
    --palette-color-green-100
  );
  --theme-episerverforms-form-warning-message-background-color: var(
    --palette-color-pink-100
  );
  --theme-episerverforms-validationfail-message-color: var(
    --palette-color-pink-100
  );
  --theme-episerverforms-validationfail-input-border-color: var(
    --palette-color-pink-100
  );
  --theme-episerverforms-validationfail-formfileuploadinput-border-color: var(
    --palette-color-pink-100
  );

  /* --- PAGES ------------------------------------------------------------------ */
  /* --- Error page ------------------- */
  --theme-error-page-box-background-color: var(--palette-color-blue-80);

  /* --- Contact page ----------------- */
  --theme-contact-page-page-heaeder-contact-info-background-color: var(
    --palette-color-blue-80
  );

  /* --- Search page -------------------*/
  --theme-search-page-result-itme-link-border-top-color: var(
    --palette-color-blue-40
  );

  /* --- News Page -------------------- */
  --news-page-preamble-text-color: var(--palette-color-black-100);
  --news-page-contact-heading-text-color: var(--palette-color-black-100);
}

// Define section color variables
$_section-color-map: (
  "default": (
    section-background: var(--palette-color-white-100),
    background: var(--palette-color-white-100),
    text: var(--palette-color-black-100),
    primary-button-background: var(--palette-color-black-100),
    primary-button-text: var(--palette-color-white-100),
    primary-button-active-background: var(--palette-color-white-100),
    primary-button-active-text: var(--palette-color-black-100),
    primary-button-active-border: var(--palette-color-black-100),
    primary-button-hover-background: var(--palette-color-black-60),
    primary-button-hover-text: var(--palette-color-white-100),
    primary-button-hover-border: var(--palette-color-black-60),
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: var(--palette-color-blue-100),
    secondary-button-text: var(--palette-color-white-100),
    secondary-button-active-background: var(--palette-color-white-100),
    secondary-button-active-text: var(--palette-color-black-100),
    secondary-button-active-border: var(--palette-color-black-100),
    secondary-button-hover-background: var(--palette-color-black-100),
    secondary-button-hover-text: var(--palette-color-pink-100),
    secondary-button-hover-border: var(--palette-color-pink-100),
    secondary-button-disabled-background: var(--palette-color-black-40),
    secondary-button-disabled-text: var(--palette-color-black-60),
    secondary-button-disabled-border: var(--palette-color-black-60),
    secondary-button-icon: var(--palette-color-white-100),
    secondary-button-icon-hover: var(--palette-color-black-100),
    link-text: var(--palette-color-blue-100),
    link-disabled-text: var(--palette-color-black-60),
    link-icon: var(--palette-color-blue-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-black-100),
    contact-info-block-text-color: var(--palette-color-white-100),
    contact-info-block-border-color: var(--palette-color-blue-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-black-100),
    accordion-background-color: var(--palette-color-black-100),
    accordion-text-color: var(--palette-color-white-100),
    accordion-open-background-color: var(--palette-color-black-100),
    accordion-open-text-color: var(--palette-color-white-100),
  ),
  "black": (
    section-background: var(--palette-color-black-100),
    background: var(--palette-color-black-100),
    text: var(--palette-color-white-100),
    primary-button-background: var(--palette-color-white-100),
    primary-button-text: var(--palette-color-black-100),
    primary-button-active-background: var(--palette-color-green-100),
    primary-button-active-text: var(--palette-color-black-100),
    primary-button-active-border: var(--palette-color-white-100),
    primary-button-hover-background: var(--palette-color-pink-100),
    primary-button-hover-text: var(--palette-color-black-100),
    primary-button-hover-border: transparent,
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: var(--palette-color-black-100),
    secondary-button-text: var(--palette-color-white-100),
    secondary-button-active-background: var(--palette-color-black-100),
    secondary-button-active-text: var(--palette-color-green-100),
    secondary-button-active-border: var(--palette-color-white-100),
    secondary-button-hover-background: var(--palette-color-black-100),
    secondary-button-hover-text: var(--palette-color-pink-100),
    secondary-button-hover-border: var(--palette-color-pink-100),
    secondary-button-disabled-background: transparent,
    secondary-button-disabled-text: var(--palette-color-black-40),
    secondary-button-disabled-border: var(--palette-color-black-40),
    secondary-button-icon: var(--palette-color-white-100),
    secondary-button-icon-hover: var(--palette-color-pink-100),
    link-text: var(--palette-color-pink-100),
    link-icon: var(--palette-color-blue-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-white-100),
    contact-info-block-text-color: var(--palette-color-black-100),
    contact-info-block-border-color: var(--palette-color-blue-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-white-100),
    accordion-background-color: var(--palette-color-white-100),
    accordion-text-color: var(--palette-color-black-100),
    accordion-open-background-color: var(--palette-color-white-100),
    accordion-open-text-color: var(--palette-color-black-100),
  ),
  "white": (
    section-background: var(--palette-color-white-100),
    background: var(--palette-color-white-100),
    text: var(--palette-color-black-100),
    primary-button-background: var(--palette-color-black-100),
    primary-button-text: var(--palette-color-white-100),
    primary-button-active-background: var(--palette-color-white-100),
    primary-button-active-text: var(--palette-color-black-100),
    primary-button-active-border: var(--palette-color-black-100),
    primary-button-hover-background: var(--palette-color-black-60),
    primary-button-hover-text: var(--palette-color-white-100),
    primary-button-hover-border: var(--palette-color-white-100),
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: var(--palette-color-green-100),
    secondary-button-text: var(--palette-color-black-100),
    secondary-button-active-background: var(--palette-color-white-100),
    secondary-button-active-text: var(--palette-color-black-100),
    secondary-button-active-border: var(--palette-color-black-100),
    secondary-button-hover-background: var(--palette-color-black-60),
    secondary-button-hover-text: var(--palette-color-white-100),
    secondary-button-hover-border: var(--palette-color-white-100),
    secondary-button-disabled-background: var(--palette-color-black-40),
    secondary-button-disabled-text: var(--palette-color-black-60),
    secondary-button-disabled-border: var(--palette-color-black-60),
    secondary-button-icon: var(--palette-color-white-100),
    secondary-button-icon-hover: var(--palette-color-black-100),
    link-text: var(--palette-color-blue-100),
    link-icon: var(--palette-color-blue-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-black-100),
    contact-info-block-text-color: var(--palette-color-white-100),
    contact-info-block-border-color: var(--palette-color-blue-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-black-100),
    accordion-background-color: var(--palette-color-black-100),
    accordion-text-color: var(--palette-color-white-100),
    accordion-open-background-color: var(--palette-color-black-100),
    accordion-open-text-color: var(--palette-color-white-100),
  ),
  "pink": (
    section-background: var(--palette-color-pink-100),
    background: var(--palette-color-pink-80),
    text: var(--palette-color-black-100),
    primary-button-background: var(--palette-color-black-100),
    primary-button-text: var(--palette-color-white-100),
    primary-button-active-background: var(--palette-color-white-100),
    primary-button-active-text: var(--palette-color-green-100),
    primary-button-active-border: var(--palette-color-black-100),
    primary-button-hover-background: var(--palette-color-white-100),
    primary-button-hover-text: var(--palette-color-black-100),
    primary-button-hover-border: var(--palette-color-white-100),
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: transparent,
    secondary-button-text: var(--palette-color-black-100),
    secondary-button-active-background: var(--palette-color-white-100),
    secondary-button-active-text: var(--palette-color-green-100),
    secondary-button-active-border: var(--palette-color-black-100),
    secondary-button-hover-background: var(--palette-color-pink-100),
    secondary-button-hover-text: var(--palette-color-black-100),
    secondary-button-hover-border: var(--palette-color-white-100),
    secondary-button-disabled-background: transparent,
    secondary-button-disabled-text: var(--palette-color-black-40),
    secondary-button-disabled-border: var(--palette-color-black-40),
    secondary-button-icon: var(--palette-color-white-100),
    secondary-button-icon-hover: var(--palette-color-black-100),
    link-text: var(--palette-color-black-100),
    link-icon: var(--palette-color-black-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-black-100),
    contact-info-block-text-color: var(--palette-color-white-100),
    contact-info-block-border-color: var(--palette-color-blue-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-black-100),
    accordion-background-color: var(--palette-color-black-100),
    accordion-text-color: var(--palette-color-white-100),
    accordion-open-background-color: var(--palette-color-black-100),
    accordion-open-text-color: var(--palette-color-white-100),
  ),
  "light-blue": (
    section-background: var(--palette-color-pink-80),
    background: var(--palette-color-blue-40),
    text: var(--palette-color-black-100),
    primary-button-background: var(--palette-color-black-100),
    primary-button-text: var(--palette-color-white-100),
    primary-button-active-background: var(--palette-color-blue-80),
    primary-button-active-text: var(--palette-color-white-100),
    primary-button-active-border: var(--palette-color-black-100),
    primary-button-hover-background: var(--palette-color-white-100),
    primary-button-hover-text: var(--palette-color-black-100),
    primary-button-hover-border: var(--palette-color-white-100),
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: transparent,
    secondary-button-text: var(--palette-color-black-100),
    secondary-button-active-background: var(--palette-color-white-100),
    secondary-button-active-text: var(--palette-color-green-100),
    secondary-button-active-border: var(--palette-color-black-100),
    secondary-button-hover-background: var(--palette-color-white-100),
    secondary-button-hover-text: var(--palette-color-black-100),
    secondary-button-hover-border: var(--palette-color-white-100),
    secondary-button-disabled-background: transparent,
    secondary-button-disabled-text: var(--palette-color-black-40),
    secondary-button-disabled-border: var(--palette-color-black-40),
    secondary-button-icon: var(--palette-color-black-100),
    secondary-button-icon-hover: var(--palette-color-black-100),
    link-text: var(--palette-color-black-100),
    link-disabled-text: var(--palette-color-black-60),
    link-icon: var(--palette-color-black-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-black-100),
    contact-info-block-text-color: var(--palette-color-white-100),
    contact-info-block-border-color: var(--palette-color-blue-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-black-100),
    accordion-background-color: var(--palette-color-black-100),
    accordion-text-color: var(--palette-color-white-100),
    accordion-open-background-color: var(--palette-color-black-100),
    accordion-open-text-color: var(--palette-color-white-100),
  ),
  "blue": (
    section-background: var(--palette-color-blue-100),
    background: var(--palette-color-blue-100),
    text: var(--palette-color-white-100),
    primary-button-background: var(--palette-color-white-100),
    primary-button-text: var(--palette-color-black-100),
    primary-button-active-background: var(--palette-color-green-100),
    primary-button-active-text: var(--palette-color-black-100),
    primary-button-active-border: var(--palette-color-white-100),
    primary-button-hover-background: var(--palette-color-pink-100),
    primary-button-hover-text: var(--palette-color-black-100),
    primary-button-hover-border: var(--palette-color-pink-100),
    primary-button-disabled-background: var(--palette-color-white-100),
    primary-button-disabled-text: var(--palette-color-black-40),
    primary-button-disabled-border: var(--palette-color-black-40),
    primary-button-icon: var(--palette-color-white-100),
    primary-button-icon-hover: var(--palette-color-black-100),
    secondary-button-background: transparent,
    secondary-button-text: var(--palette-color-white-100),
    secondary-button-active-background: var(--palette-color-black-100),
    secondary-button-active-text: var(--palette-color-green-100),
    secondary-button-active-border: var(--palette-color-white-100),
    secondary-button-hover-background: var(--palette-color-pink-100),
    secondary-button-hover-text: var(--palette-color-black-100),
    secondary-button-hover-border: var(--palette-color-pink-100),
    secondary-button-disabled-background: transparent,
    secondary-button-disabled-text: var(--palette-color-black-40),
    secondary-button-disabled-border: var(--palette-color-black-40),
    secondary-button-icon: var(--palette-color-white-100),
    secondary-button-icon-hover: var(--palette-color-black-100),
    link-text: var(--palette-color-blue-100),
    link-icon: var(--palette-color-blue-100),
    theme-site-page-partial-background-color: var(--palette-color-black-100),
    theme-site-page-partial-text-color: var(--palette-color-white-100),
    tag-background-color: var(--palette-color-blue-100),
    tag-text-color: var(--palette-color-green-100),
    contact-info-block-background-color: var(--palette-color-black-100),
    contact-info-block-text-color: var(--palette-color-white-100),
    contact-info-block-border-color: var(--palette-color-white-100),
    contact-info-icon-plate-color: var(--palette-color-black-60),
    contact-info-icon-plate-icon-color: var(--palette-color-white-100),
    accordion-button-focus-color: var(--palette-color-white-100),
    accordion-background-color: var(--palette-color-white-100),
    accordion-text-color: var(--palette-color-black-100),
    accordion-open-background-color: var(--palette-color-white-100),
    accordion-open-text-color: var(--palette-color-black-100),
  ),
);
$section-colors: map.keys($_section-color-map);

// Function to get section properties with fallback to default values
@function getSectionColor($property, $section: default) {
  $value: map.get(map.get($_section-color-map, $section), $property);
  @if $value == null {
    $value: map.get(map.get($_section-color-map, default), $property);
  }
  @if $value == null {
    @error "Invalid property in getSectionColor: #{$property} is not usable for a #{$section} section. Make sure the property is defined in all sections or have a default value.";
  }
  @return $value;
}
